<include file="Public:header"/>
		<div class="layout_wrap">
			<!--头部-->
			<header class="mod_header">
				<!--组件：返回1-->
				<div class="cell_back_activity attr_left" onclick="history.go(-1)">
					<img src="__IMG__/icon_back.png" />
					<p>返回列表</p>
				</div>
				<div class="cell_title_userList attr_left">30天口语集中营听说读写样样精通特别精通超级精通</div>
				<!--搜索活动名称-->
				<div class="cell_search attr_right cell_search_user attr_marRig12p">
					<a><img src="__IMG__/icon_search.png" /></a>
					<input type="text" placeholder="输入微信名" />
				</div>	
				
			</header>
			<!--内容-->
			<section class="mod_section" style="padding-top: 80px;">
				<!--模块：表格-->
				<table class="mod_table">
					<!--表头-->
					<thead class="mod_thead">
						<!--注意！TWT专为设置宽度而设，TWT＊后面的＊为百分比的数字，总和应是100-->
						<tr class="TWT">
							<td class="TWT39">用户微信名</td>
							<td class="allowOpera TWT21">积分<img class="cell_rankDown" src="__IMG__/icon_down.png" /></td>
							<td class="allowOpera TWT40">报名时间<img class="cell_rankUp" src="__IMG__/icon_up.png" /></td>
						</tr>
					</thead>
					<!--表内容-->
					<tbody class="mod_tbody">
						<tr class="mod_trMargin">
						</tr>
						<tr>
							<td>阿里花花Silvia</td>
							<td>56291</td>
							<td>2016/03/20 12:35</td>
						</tr>
						<tr>
							<td>阿里花花</td>
							<td>14291</td>
							<td>2016/03/20 12:35</td>
						</tr>
						<tr>
							<td>Silvia花花小猪仔Silvia</td>
							<td>53221</td>
							<td>2016/03/20 12:35</td>
						</tr>
						<tr>
							<td>阿里花花Silvia</td>
							<td>16291</td>
							<td>2016/03/20 12:35</td>
						</tr>
						<tr>
							<td>Silvia阿里花花Silvia</td>
							<td>3091</td>
							<td>2016/03/20 12:35</td>
						</tr>
						<tr>
							<td>花花小狗</td>
							<td>3021</td>
							<td>2016/03/20 12:35</td>
						</tr>
						<tr>
							<td>小猪仔</td>
							<td>30491</td>
							<td>2016/03/20 12:35</td>
						</tr>
						<tr>
							<td>阿里花花Silvia</td>
							<td>19291</td>
							<td>2016/03/20 12:35</td>
						</tr>
						<tr>
							<td>花花花花阿里花花Silvia</td>
							<td>59291</td>
							<td>2016/03/20 12:35</td>
						</tr>
						<tr>
							<td>花花Silvia</td>
							<td>41291</td>
							<td>2016/03/20 12:35</td>
						</tr>
					</tbody>
				</table>
	
			</section>
			<!--底部-->
			<footer class="mod_foter attr_foterColor">
				<!--总页数-->
				<div class="cell_page">
					<p>总共<span>1</span>页</p>
					<p>当前第<span>一</span>页</p>
				</div>
				<!--组件：选页-->
				<div class="cell_slew attr_right">
					<p class="cell_slewOne"><a><img src="__IMG__/icon_slewArrowLeft-1.png" /></a></p>
					<p class="cell_slewOne"><a><img src="__IMG__/icon_slewArrowLeft-2.png" /></a></p>
					<ul class="cell_slewOne">
						<li class="offSlew"><a>1</a></li>
						<li><a>2</a></li>
						<li><a>3</a></li>
						<li><a>4</a></li>
						<li><a>5</a></li>
					</ul>
					<p class="cell_slewOne"><a><img src="__IMG__/icon_slewArrowRight-2.png" /></a></p>
					<p class="cell_slewOne"><a><img src="__IMG__/icon_slewArrowRight-1.png" /></a></p>
				</div>
			</footer>
		</div>
<include file="Public:footer"/>
