<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/reset.css" />
		<link rel="stylesheet" href="__CSS__/style1.css" />
		<script type="text/javascript" src="__JS__/jquery2.1.4.min.js"></script>
		<script type="text/javascript" src="__JS__/function.js"></script>
	</head>
	<body>
		<div class="layout_wrap">
			<!--头部-->
			<header class="mod_header">
				<!--组件：标题-->
				<h2 class="cell_headerTitle attr_left">修改活动 / <span>30天口语集中营听说读写样样精通特别精通超级精通</span></h2>
			</header>
			<!--内容-->
			<section class="mod_section">
				<!--基本内容-->
				<!--模块：block-->
				<div class="mod_block">
					<!--组件：模块标题-->
					<div class="cell_blockTitle">
						<h3>基本内容</h3>
					</div>
					<div class="cell_blockContent">
						<div class="cell_partBar-1 attr_marTop15p">
							<!--组件：输入组件-->
							<div class="cell_partBox-2 attr_width46 attr_marRig8">
								<!--组件：小标题盒子-->
								<div class="cell_partTitleBox">
									<!--元件：小标题-->
									<p class="cell_partTitle">活动标题</p>	
									<span class="cell_partMark">＊</span>
								</div>
								<!--组件：input输入框-->
								<div class="cell_partContent">
									<!--如果只读请给input添加：readonly="readonly"-->
									<input type="text" placeholder="请输入标题" />
								</div>
							</div>
							<!--组件：输入组件-->
							<div class="cell_partBox-2 attr_width46">
								<!--组件：小标题盒子-->
								<div class="cell_partTitleBox">
									<!--元件：小标题-->
									<p class="cell_partTitle">添加后台关键词</p>
									<span class="cell_partMark">＊</span>
								</div>
								<!--组件：input输入框-->
								<div class="cell_partContent">
									<!--如果只读请给input添加：readonly="readonly"-->
									<input type="text" placeholder="请输入后台关键词" />
								</div>
							</div>
						</div>
						<div class="cell_partBar-1">
							<!--组件：输入组件-->
							<div class="cell_partBox-2 attr_width46">
								<!--组件：小标题盒子-->
								<div class="cell_partTitleBox">
									<!--元件：小标题-->
									<p class="cell_partTitle">开始时间</p>
								</div>
								<!--组件：input输入框-->
								<div class="cell_partContent attr_width30 attr_marRig2 attr_left">
									<!--如果只读请给input添加：readonly="readonly"-->
									<input type="text" placeholder="请输入年" />
								</div>
								<!--组件：input输入框-->
								<div class="cell_partContent attr_width17 attr_marRig2 attr_left">
									<!--如果只读请给input添加：readonly="readonly"-->
									<input type="text" placeholder="月" />
								</div>
								<!--组件：input输入框-->
								<div class="cell_partContent attr_width17 attr_marRig2 attr_left">
									<!--如果只读请给input添加：readonly="readonly"-->
									<input type="text" placeholder="日" />
								</div>
								<!--组件：input输入框-->
								<div class="cell_partContent attr_width30 attr_left">
									<!--如果只读请给input添加：readonly="readonly"-->
									<input class="attr_center" type="text" placeholder="时间" />
								</div>
							</div>
							<!--横线-->
							<div class="cell_line1 attr_width4 attr_marLef2 attr_marRig2 attr_left"></div>	
							<!--组件：输入组件-->
							<div class="cell_partBox-2 attr_width46">
								<!--组件：小标题盒子-->
								<div class="cell_partTitleBox">
									<!--元件：小标题-->
									<p class="cell_partTitle">结束时间</p>
								</div>
								<!--组件：input输入框-->
								<div class="cell_partContent attr_width30 attr_marRig2 attr_left">
									<!--如果只读请给input添加：readonly="readonly"-->
									<input type="text" placeholder="请输入年" />
								</div>
								<!--组件：input输入框-->
								<div class="cell_partContent attr_width17 attr_marRig2 attr_left">
									<!--如果只读请给input添加：readonly="readonly"-->
									<input type="text" placeholder="月" />
								</div>
								<!--组件：input输入框-->
								<div class="cell_partContent attr_width17 attr_marRig2 attr_left">
									<!--如果只读请给input添加：readonly="readonly"-->
									<input type="text" placeholder="日" />
								</div>
								<!--组件：input输入框-->
								<div class="cell_partContent attr_width30 attr_left">
									<!--如果只读请给input添加：readonly="readonly"-->
									<input class="attr_center" type="text" placeholder="时间" />
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<!--基本内容-->
				<!--模块：block-->
				<div class="mod_block">
					<!--组件：模块标题-->
					<div class="cell_blockTitle">
						<h3>基本内容</h3>
					</div>
					<div class="cell_blockContent">
						
						
					</div>
				</div>
	
			</section>
			<!--底部-->
			<footer class="mod_footer">
				<!--元件：按钮－蓝-->
				<button class="cell_buttonBlue attr_marLef40" type="button">保存</button>
				<!--元件：按钮－灰-->
				<button class="cell_buttonGrey" type="button">取消</button>				
			</footer>
		</div>
<include file="Public:footer"/>