<include file="Public:header"/>
		<div class="layout_wrap">
			<!--头部-->
			<header class="mod_header">
				<!--组件：操作按钮-->
				<div class="cell_operate_activity attr_left allowOpera">
					<img src="__IMG__/icon_addAct.png" />
					<p style="cursor:pointer" onclick="window.location.href='{:U('Activity/detail')}'">添加</p>
				</div>
				<!--组件：操作按钮-->
				<div class="cell_operate_activity attr_left ">
					<a href="javascript:modify()" onclick="return isDisabled(this);" style="cursor:pointer"><img src="__IMG__/icon_changeAct.png" />
					<p>修改</p></a>
				</div>
				<!--组件：操作按钮-->
				<div class="cell_operate_activity attr_left ">
					<a href="javascript:deleteData()" onclick="return isDisabled(this);" style="cursor:pointer"><img src="__IMG__/icon_delAct.png" />
					<p>删除</p></a>
				</div>
				<!--组件：操作按钮-->
				<div class="cell_operate_activity attr_left ">
					<a href="javascript:changeStatus(1)" onclick="return isDisabled(this);" style="cursor:pointer"><img src="__IMG__/icon_onAct.png" />
					<p>开启活动</p></a>
				</div>
				<!--组件：操作按钮-->
				<div class="cell_operate_activity attr_left ">
					<a href="javascript:changeStatus(0)" onclick="return isDisabled(this);" style="cursor:pointer"><img src="__IMG__/icon_offAct.png" />
					<p>关闭活动</p></a>
				</div>
				<!--组件：操作按钮-->
				<div class="cell_operate_activity attr_left attr_marLef26p ">
					<a href="javascript:showMemberNum()" onclick="return isDisabled(this);" style="cursor:pointer"><p>用户积分</p></a>
				</div>
				
				<!--元件：退出-->
				<a><div class="cell_quit attr_right">退出</div></a>
				<!--搜索活动名称-->
				<div class="cell_search attr_right cell_search_activity">
					<a href="javascript:search();"><img src="__IMG__/icon_search.png" /></a>
					<input type="text" placeholder="请输入关键字" id="searchName" name="{$title}" value="{$title}" />
				</div>	
				
			</header>
			<!--内容-->
			<section class="mod_section" style="padding-top: 80px;">
				<!--模块：表格-->
				<table class="mod_table">
					<!--表头-->
					<thead class="mod_thead">
						<!--注意！TWT_Act专为设置宽度而设，TWT＊后面的＊为百分比的数字，总和应是100-->
						<tr class="TWT_Act">
							<td class="TWT10">ID</td>
							<td class="TWT38">活动名称</td>
							<td class="TWT20">开始时间</td>
							<td class="TWT20">结束时间</td>
							<td class="TWT12">是否开启</td>
						</tr>
					</thead>
					<!--表内容-->
					<tbody class="mod_tbody">
						<tr class="mod_trMargin">
						</tr>
						<volist name="list" id="vo">
						<tr>
							<td>
								<input class="cell_radio" type="radio" name="radio" value="{$vo['id']}"/>
								{$vo['id']}
							</td>
							<td>{$vo['title']}</td>
							<td>{$vo['start_time']|date='Y-m-d H:i:s',###}</td>
							<td>{$vo['end_time']|date='Y-m-d H:i:s',###}</td>
							<?php 
								if(intval($vo['is_start']) == 1){ 
									echo '<td>活动开始</td>';
								}else{
									echo '<td class="stopAct">活动关闭</td>';
								}
							?>
						</tr>
						</volist>
						
						
					</tbody>
				</table>

			</section>
			<!--底部-->
			<footer class="mod_foter attr_foterColor">
				<!--总页数-->
				<div class="cell_page">
					<p>总共<span>1</span>页</p>
					<p>当前第<span>一</span>页</p>
				</div>
				<!--组件：选页-->
				<div class="cell_slew attr_right">
					<p class="cell_slewOne"><a href="{:U('Activity/index',array('title'=>$title,'p'=>1))}"><img src="__IMG__/icon_slewArrowLeft-1.png" /></a></p>
					<p class="cell_slewOne"><a href="{:U('Activity/index',array('title'=>$title,'p'=>($p - 1 >= 1 ? ($p - 1) : 1)))}"><img src="__IMG__/icon_slewArrowLeft-2.png" /></a></p>
					<ul class="cell_slewOne">
					<?php 
						$pages = intval(ceil($count / 20));
						for ($i = 1; $i <= $pages; $i ++) { 
						
					?>
						<li <?php if($p == $i){ ?>class="offSlew"<?php } ?>><a href="{:U('Activity/index',array('title'=>$title,'p'=>$i))}">{$i}</a></li>
					<?php } ?>
					</ul>
					<p class="cell_slewOne"><a href="{:U('Activity/index',array('title'=>$title,'p'=>($p + 1 <= $pages ? ($p + 1) : $pages)))}"><img src="__IMG__/icon_slewArrowRight-2.png" /></a></p>
					<p class="cell_slewOne"><a href="{:U('Activity/index',array('title'=>$title,'p'=>$pages))}"><img src="__IMG__/icon_slewArrowRight-1.png" /></a></p>
				</div>
			</footer>
		</div>
		<script>
			//设置表格宽度
			function setTBwidth(){
				$(".TWT_Act td").each(function(){
					var width = parseInt($(this).attr('class').split('TWT')[1]);
					var widTB = parseInt($(this).parents('thead').css('width'));
					var widPX = widTB*width/100;
					$(this).attr('width',widPX+'px');
				});
				$('tbody tr td:nth-child(2)').attr('width',$(".TWT_Act td:nth-child(2)").attr('width'));	
			}
			$(function(){
				/**
				 * 表格：初始化宽度
				 */
				setTBwidth();
				$(window).resize(function() { 
					setTBwidth();
			 	})
			 	
			})
			$('.cell_radio').click(function(){
			 		$('.attr_left').addClass('allowOpera');
			 	});

			function isDisabled(obj){
				// obj = obj||this;
				// alert($(obj).parent().html());
				if(!$(obj).parent().hasClass('allowOpera')){
					return false;
				}
				return true;
			}
			//修改
			function modify(){
				var id = $('.cell_radio:checked').val();
				var url = "{:U('Activity/detail')}";
				url = url.split('.html')[0];
				var parameter = '/id/' + id;
				window.location.href = url + parameter;
			}
			//删除
			function deleteData(){
				var id = $('.cell_radio:checked').val();
				var url = "{:U('Activity/deleteData')}";
				url = url.split('.html')[0];
				var parameter = '/id/' + id;
				window.location.href = url + parameter;
			}
			//开启或停止活动
			function changeStatus(status){
				var id = $('.cell_radio:checked').val();
				var url = "{:U('Activity/changeStatus')}";
				url = url.split('.html')[0];
				var parameter = '/id/' + id + '/status/'+ status;
				window.location.href = url + parameter;
			}

			//查询
			function search(){
				var val = $('#searchName').val();
				var url = '__APP__/Backend/Activity/index/title/'+val;
				window.location.href = url;
				
			}

			//显示用户积分
			function showMemberNum(){
				var id = $('.cell_radio:checked').val();
				var url = '__APP__/Backend/Member/index/activity_id/'+id;
				window.location.href = url;
			}
			
		</script>
<include file="Public:footer"/>
