<include file="Public:header"/>
		<div class="layout_nav">
			<!--标题-->
			<header class="mod_Title">
				<img src="__IMG__/logo.png" />
			</header>
			<!--导航栏-->
			<nav class="mod_nav">
				<!--案例详情-->
				<ul class="cell_navMain optionCal_nav selected_nav">
					<a target="right" href="{:U('Activity/index')}">
						<img class="cell_navIcon" src="__IMG__/icon_selected-3_nav.png"/>
						<span>活动邀请卡</span>
					</a>
				</ul>
				<!--院校信息-->
				<ul class="cell_navMain optionInl_nav">
					<a target="right" href="{:U('User/index')}">
						<img class="cell_navIcon" src="__IMG__/icon_option-2_nav.png"/>
						<span>占位</span>
					</a>
				</ul>
				<!--项目信息-->
				<ul class="cell_navMain optionPrl_nav">
					<a target="right" href="activityDetail_WX.html">
						<img class="cell_navIcon" src="__IMG__/icon_option-1_nav.png"/>
						<span>占位</span>
					</a>
				</ul>
			</nav>
				
		</div>
	<script>
	$(function(){
		/**
		 * nav 导航栏：选中切换效果
		 */
		$('.optionCal_nav, .optionInl_nav, .optionPrl_nav').click(function(){
			$(this).siblings().each(function(){
				$(this).removeClass('selected_nav');
				$(this).find('span').css('color','#FFFFFF');
			});
			$('.optionCal_nav').find('img').attr('src','__IMG__/icon_option-3_nav.png');
			$('.optionInl_nav').find('img').attr('src','__IMG__/icon_option-2_nav.png');
			$('.optionPrl_nav').find('img').attr('src','__IMG__/icon_option-1_nav.png');
			
			$(this).addClass('selected_nav');
			$(this).find('span').css('color','#4570b6');
		});	
		
		
		/**
		 * nav 导航栏img：选中切换图片效果
		 */
		$('.optionCal_nav').click(function(){
			$(this).find('img').attr('src','__IMG__/icon_selected-3_nav.png');
		});	

		$('.optionInl_nav').click(function(){
			$(this).find('img').attr('src','__IMG__/icon_selected-2_nav.png');
		});	

		$('.optionPrl_nav').click(function(){
			$(this).find('img').attr('src','__IMG__/icon_selected-1_nav.png');
		});	
	});
	</script>
<include file="Public:footer"/>